* {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    margin: 0 auto;
    font-size: 20px;
    color: white;
    padding-top: 50px;
}

/* footer */

footer{
    /* margin: 0 auto; */
    margin-top: 100px;
    background-color: cadetblue;
    position: relative;
    bottom: -100px;
}
.contact{
    width: 50%;
    padding-bottom: 50px;
}
h1{
    font-size: 20px;
    color: #fff;
    padding-top: 50px;
    text-align: center;
}
ol{
    padding: 0;
    margin: 0;
    text-align: center;
    color: #fff;
}
@media screen and (max-width:2000px) {
    .hide{
        display: none;
    }
    
    h2{
        text-align: center;
        margin: 40px 20px;

    }
    h3{
        text-align: center;
    }
    .photo{
        width: 75%;
        margin: 40px auto;
        display: flex;
    }
    .indoor,.outdoor,.lighter{
        margin: auto;
        width: 30%;
        padding-bottom: 2%;
        background-color: rgb(235, 235, 235);
        box-shadow: rgba(0, 0, 0, 0.288) 5px 8px;
        border-radius: 5px;
    }
    .frontCoverIndoor{
        background-image: url(../img/室內/1.jpg);
        width: 100%;
        padding-bottom: 60%;
        background-position: center center;
        background-size: cover;
    }
    .frontCoverOutdoor{
        background-image: url(../img/廟宇/S__37666890.jpg);
        width: 100%;
        padding-bottom: 60%;
        background-position: center center;
        background-size: cover;
    }
    .frontCoverLighter{
        background-image: url(../img/路燈/路燈_210512_4.jpg);
        width: 100%;
        padding-bottom: 60%;
        background-position: center center;
        background-size: cover;
    }
    .LGlogo {
        width: 150px;
        display: block;
        margin: 20px auto;
    }     
    nav {
        position: fixed;
        /* top: 20px;
        left: 20px; */
    }
    .mobile {
        width: 180px;
        display: flex;
        flex-direction: column;
        padding: 0;
        /* margin-top: 50px; */

    }

    .mobile>li {
        display: inline;
        text-align: center;
        margin-bottom: 40px;
    }


    a {
        text-align: center;
        text-decoration: none;
    }
     /* footer */
     footer{
        padding-bottom: 10px;
            }
            .contact{
                width: 100%;
            }
}
@media screen and (max-width:576px){
    body {
        padding: 0px auto;
        width: 100%;
    }

    header {
        display: block;
        margin-top: 20px;
        position: relative;
    }
    h1 {
        margin: 0 auto;
        text-align: center;
    }
    /* .leftLOGO{
        display: none;
    } */

    .logo {
        background-image: url(../img/ChenFu.svg);
        background-size: contain;
        background-position: 0 0;
        background-repeat: no-repeat;
        width: 100px;
        padding-bottom: 110px;
        margin: 0px auto;
    }

    .carousel-inner {
        height: 350px;
    }

    .container {
        margin: 0 auto;
        padding: 0;
    }

    .LGlogo {
        width: 150px;
        display: block;
        margin: 20px auto;
    }



    /* menu icon */

    .menu {
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 9;
    }

    .menu_btn {
        background-color: rgba(112, 218, 245, 0.5);
        width: 40px;
        height: 40px;
        border-radius: 10px;
        z-index: 9;
    }

    .icon {
        margin: auto;
        width: 28px;
        height: 28px;
        position: relative;
    }

    .line {
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: black;
        border-radius: 99em;
        transition: all 0.8s;
    }

    .top {
        top: 20%;
    }

    .middle {
        top: 60%;
    }

    .bottom {
        top: 100%;
    }

    .icon.switch .top {
        transform: translateY(0);
        transform: rotate(405deg);
        top: 60%;
    }

    .icon.switch .middle {
        display: none;
    }

    .icon.switch .bottom {
        top: 60%;
        transform: translateY(30px);
        transform: rotate(-405deg);
    }

    .mobile {
        /* display: none; */
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: rgb(39, 142, 168);
        top: 0;
        left: -100%;
        padding: 0;
        transition: all 0.5s;
    }

    nav {
        width: 100%;
        display: block;
        z-index: 3;
    }

    .mobile>li {
        /* display: block; */
        margin: auto 0px auto 114px;
        font-size: 24px;
    }

    li>a {
        text-align: center;
        display: block;
        text-decoration: none;
        color: #fff;
    }
    .moblieBg{
        /* display: none; */
        width: 100%;
        background-color: rgba(0, 0, 0, 0.308);
        height: 100vh;
        position: relative;
        top: -173px;
        left: -100%;
        transition: all 0.5s;
        /* z-index: 9; */
    }
    .moblieBg.show{
        left: 0%;
    }
    .mobile.show {
        left: -30%;
    }

    /* menu icon  */

    h3{
        text-align: center;
    }
    img{
        width: 95%;
        margin: 15px auto;
        display: block;
    }
    .hide{
        display: none;
    }
    .photo{
        width: 75%;
        margin: 40px auto;
        display: block;
    }
    .indoor,.outdoor,.lighter{
        margin: 10px auto 30px auto;
        width: 100%;
        padding-bottom: 2%;
        background-color: rgb(235, 235, 235);
        box-shadow: rgba(0, 0, 0, 0.288) 5px 8px;
        border-radius: 5px;
    }
}